@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
	 /*background-color: #000;*/
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background: #343434;
}
 /* start timer */
 .timer {
    position: absolute;
    right: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* height: 192px; */
    width: 226px;
    background-color: #171313;
    border-radius: 16px;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}
.timer-header {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 16px;
}

.timer-box {
    display: flex;
    justify-content: center;
}

#input {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    background-color: #171313;
    color: #fff;
    font-size: 48px;
    border: 2px solid #FFFFFF;
    text-align: center;
    margin-right: 12px;
}
.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    height: 54px;
    width: 54px;
    border-radius: 27px;
    background-color: #fff;
    font-size: 12px;
    font-weight: 700;
    border: none;
}
.button:hover {
    /* background-color: #eee; */
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.25);
}

#stop {
    margin-top: 12px;
}


 /* stop timer */